@font-face {
  font-family: "Poppins";
  src: url("../../assets/font/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #191a35;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

/* * NAVBAR * */
.nav {
  z-index: 1000;
  width: 100%;
  display: flex;
  position: fixed;
  padding: 20px 10%;
  align-items: center;
  background-color: #121327;
  box-shadow: 0px 0px 30px #101124;
}

.nav ul {
  flex: 1;
  text-align: right;
}

.nav ul li {
  margin: 0 30px;
  display: inline-block;
}

.nav-logo {
  font-size: 24px;
  color: #ffa51d;
  font-weight: bold;
}

.nav-mobile-list {
  display: none;
}

.nav-link {
  color: #fbf9f9;
}

/* * HOME * */

.home {
  clear: both;
  overflow: auto;
  /* background-color: red; */
  padding: 150px 10% 0px 10%;
}

.home-main {
  color: #eb971a;
}

.home-picture {
  width: 50%;
  float: right;
  display: inline;
  text-align: center;
  /* background-color: white; */
}

.home-picture img {
  width: 100%;
}

.home-about {
  width: 50%;
  margin-bottom: 40px;
  /* background-color: blue; */
}

.home-name {
  font-size: 32px;
  color: #fbf9f9;
  font-weight: 800;
}

.home-job {
  font-size: 48px;
  color: #ffa51d;
  font-weight: 800;
  margin-bottom: 20px;
}

.home-description {
  line-height: 30px;
  font-size: 18px;
  color: #f2f2f2;
  margin-bottom: 40px;
  padding-right: 4px;
}

.home-button-email {
  width: 100px;
  height: 50px;
  color: #191919;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #ffa51d;
}

.home-button-email:hover {
  color: #121327;
  background-color: #eb971a;
}

.home-button-cv {
  width: 100px;
  height: 50px;
  color: #fbf9f9;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #fbf9f9;
}

.home-button-cv:hover {
  color: #fbf9f9;
  background-color: #2e31be;
  border: 1px solid #2e31be;
}

.home-icon i {
  font-size: 32px;
  color: #fbf9f9;
  margin: 10px 20px 0px 0px;
}

.home-icon i:hover {
  color: #ffa51d;
}

/* * PROJECT * */
.project {
  width: 100%;
  padding: 100px 10%;
}

.project-nav {
  text-align: center;
  margin: 20px;
}
.project-item {
  margin: 0px 10px;
  color: #f9f9f9;
  cursor: pointer;
  font-size-adjust: 32px;
}

.project-content {
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.project-content:hover {
  box-shadow: 0 6px 8px #121327;
}

.project-content:hover .project-img {
  transform: scale(1.02);
}

.project-img {
  width: 100%;
  transition: 0.4s;
}

.project-data {
  padding: 1.5rem 1rem;
}

.project-subtitle {
  font-size: 16px;
  color: #f9f9f9;
  text-align: center;
}

.project-title {
  font-size: 32px;
  color: #eb971a;
  font-weight: bold;
  text-align: center;
}

.project-data-subtitle {
  color: grey;
}

.project-data-title {
  color: #2e31be;
  font-size-adjust: 16px;
}

.project-button-link {
  width: 100px;
  height: 50px;
  color: #ffa51d;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #191a35;
}

.project-button-link:hover {
  width: 100px;
  height: 50px;
  color: #eb971a;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #121327;
}

.project-container,
.me-container {
  padding: 1rem 0;
  grid-template-columns: repeat(3, 1fr);
}

/* * ACTIVE MENU PROJECT * */
.active-project {
  color: #ffa51d;
  font-weight: bold;
}

/* * HIRE ME * */
.project-hire-me {
  padding: 0px 10%;
  margin-bottom: 100px;
}
.project-container-hire-me {
  padding: 25px 0px;
  border-radius: 5px;
  text-align: center;
  background-color: #14162c;
}

.project-icon {
  padding: 0px 5px;
}

/* *  ME  * */
.me {
  padding: 0px 10%;
}

.me-data {
  padding: 3rem 1rem;
  background: #fff;
  transition: 0.4s;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
}

.me-title {
  margin-bottom: 10px;
  color: #2e31be;
}

.me-icon {
  font-size: 32px;
}

.me-title {
  font-size: 16px;
}

.me-description {
  margin-bottom: 32;
  color: #191919;
}

.me-data:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 6px 8px #121327;
}

/* * SKILL  **/

.skill {
  text-align: center;
  margin-top: 50px;
  background-color: #121224;
}

.skill a {
  margin: 5px;
}

.skill-social {
  display: inline-block;
  margin-top: 10px;
}

/* * FOOTER  **/
.footer {
  color: #f2f2f2;
  text-align: center;
  background-color: #121327;
}

.footer-container,
.skill {
  padding: 3rem 0;
}

.footer-title,
.skill-title {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #eb971a;
}

.footer-description {
  margin-bottom: 20px;
  line-height: 30px;
}

.footer-link {
  margin: 0px 10px;
}

.footer-description a {
  color: #ffa51d;
}

.footer-link {
  font-size: 1.5rem;
  color: #f2f2f2;
  margin: 0px 10px;
  transition: 0.3s;
}

.footer-link:hover {
  color: #f2f2f2;
}

.footer-copy {
  font-size: 16px;
  color: #f9f9f9;
}

@media only screen and (max-width: 768px) {
  /* * NAVBAR * */
  .nav .nav-desktop-list,
  .nav-logo {
    display: none;
  }

  .nav {
    padding: 0px;
  }

  .nav-mobile-list {
    display: block;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    z-index: 1000;
    background-color: #121327;
    justify-content: space-around;
  }

  /* * HOME * */
  .home {
    padding: 50px 5% 0px;
  }

  .home-picture {
    float: none;
    width: 100%;
    display: inline-block;
  }

  .home-about {
    float: none;
    width: 100%;
    display: inline-block;
  }

  .home-name {
    font-size: 28px;
    margin-top: 20px;
  }

  .home-job {
    font-size: 42px;
  }

  .home-picture img {
    width: 100%;
  }

  /* * PROJECT * */
  .project {
    padding: 100px 5%;
  }
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .me-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-data {
    display: flex;
    display: block;
    align-items: center;
    justify-content: space-evenly;
  }

  .project-button-link {
    width: 40px;
    height: 50px;
    color: #eb971a;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #191a35;
  }

  /* * HIRE ME * */
  .project-hire-me {
    padding: 0px 5%;
  }

  .project-title,
  .skill-title,
  .footer-title {
    font-size: 28px;
  }

  /* * SKILL * */
  .skill {
    padding: 5%;
  }

  /* * FOOTER * */
  .footer {
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 572px) {
  /* * NAVBAR * */
  .nav .nav-desktop-list,
  .nav-logo {
    display: none;
  }

  .nav {
    padding: 0px;
  }

  .nav-mobile-list {
    display: block;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    z-index: 1000;
    background-color: #121327;
    justify-content: space-around;
  }

  /* * HOME * */
  .home {
    padding: 50px 5% 0px;
  }

  .home-picture {
    float: none;
    width: 100%;
    display: inline-block;
  }

  .home-about {
    float: none;
    width: 100%;
    display: inline-block;
  }

  .home-name {
    font-size: 22px;
    margin-top: 20px;
  }

  .home-job {
    font-size: 32px;
  }

  .home-description,
  .footer-description {
    font-size: 16px;
  }

  .home-button-email i {
    display: none;
  }

  .home-button-cv i {
    display: none;
  }

  /* * PROJECT * */
  .project {
    padding: 100px 5%;
  }
  .project-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .me-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-item {
    display: inline;
    margin: 0 6px;
  }

  .project-data {
    display: flex;
    display: block;
    align-items: center;
    justify-content: space-evenly;
  }

  .project-button-link {
    width: 40px;
    height: 50px;
    color: #eb971a;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #191a35;
  }

  /* * HIRE ME * */
  .project-hire-me {
    padding: 0px 5%;
  }

  .project-title,
  .skill-title,
  .footer-title {
    font-size: 24px;
  }

  /* * SKILL * */
  .skill {
    padding: 5%;
  }

  /* * FOOTER * */
  .footer {
    padding-bottom: 40px;
  }
}
