@font-face {
  font-family: "Poppins";
  src: url("../../assets/font/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #191a35;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
/* * NAVBAR * */
.nav {
  width: 100%;
  display: flex;
  position: fixed;
  padding: 20px 10%;
  align-items: center;
  background-color: #191a35;
  box-shadow: 0px 0px 30px #121327;
}

.nav ul {
  flex: 1;
  text-align: right;
}

.nav ul li {
  margin: 0 30px;
  display: inline-block;
}

.nav-logo {
  font-size: 24px;
  color: #ffa51d;
  font-weight: bold;
}

.nav-mobile-list {
  display: none;
}

.nav-link {
  color: #fbf9f9;
}

/* * HOME * */

.home {
  /* background-color: red; */
  clear: both;
  overflow: auto;
  padding: 150px 10% 0px 10%;
}

.home-picture {
  width: 50%;
  float: right;
  display: inline;
  text-align: center;
  /* background-color: white; */
}

.home-picture img {
  width: 100%;
}

.home-about {
  width: 50%;
  margin-bottom: 40px;
  /* background-color: blue; */
}

.home-name {
  font-size: 32px;
  color: #fbf9f9;
  font-weight: 800;
}

.home-job {
  font-size: 48px;
  color: #ffa51d;
  font-weight: 800;
  margin-bottom: 20px;
}

.home-description {
  font-size: 18px;
  color: #f2f2f2;
  margin-bottom: 40px;
  padding-right: 4px;
}

.home-button-email {
  width: 100px;
  height: 50px;
  color: #191919;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ffa51d;
}

.home-button-email:hover {
  color: #121327;
  background-color: #eb971a;
}

.home-button-cv {
  width: 100px;
  height: 50px;
  color: #fbf9f9;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #fbf9f9;
}

.home-button-cv:hover {
  color: #fbf9f9;
  background-color: #2e31be;
  border: 1px solid #2e31be;
}

.home-icon i {
  font-size: 32px;
  color: #fbf9f9;
  margin: 10px 5px;
}

.home-icon i:hover {
  color: #ffa51d;
}

@media only screen and (max-width: 576px) {
  /* * NAVBAR * */
  .nav .nav-desktop-list,
  .nav-logo {
    display: none;
  }

  .nav {
    padding: 0px;
  }

  .nav-mobile-list {
    display: block;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    z-index: 100;
    background-color: #121327;
    justify-content: space-around;
  }

  /* * HOME * */
  .home {
    clear: none;
  }

  .home-picture {
    float: none;
    width: 100%;
    display: inline-block;
  }

  .home-about {
    float: none;
    width: 100%;
    display: inline-block;
  }

  .home-name {
    margin-top: 20px;
  }

  .home-job {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  /* * NAVBAR * */
  .nav .nav-desktop-list,
  .nav-logo {
    display: none;
  }

  .nav {
    padding: 0px;
  }

  .nav-mobile-list {
    display: block;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    z-index: 100;
    background-color: #121327;
    justify-content: space-around;
  }

  /* * HOME * */
  .home {
    padding: 50px 30px 0px;
  }

  .home-name {
    font-size: 24px;
  }

  .home-job {
    font-size: 30px;
  }

  .home-picture img {
    width: 100%;
  }

  .home-description {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
}
